<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videos List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../static/css/nohyperlinks.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/ytubedblogo.png">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand sticky-top navbar-dark bg-dark" aria-label="Main navigation">
        <div class="container-fluid">
            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center" style="font-size: 18px;">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('index')}}">
                            <img src="../static/images/ytubedblogo.png" alt="ytubedb logo"
                                style="height: 35px; border-radius: 10px;">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('about')}}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('showChannels', page_num=1)}}">Channels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Videos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('showPlaylist', page_num=1)}}">Playlists</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="py-5 mt-5">
        <div class="container">
            <h1 class="fw-light text-center">Videos</h1>
            <br>
            <nav aria-label="Search">
                <div class="d-flex justify-content-center align-items-center">
                    <!-- Search -->
                    <div class="col-md-12">
                        <form method="GET" action="{{ url_for('showVideos', page_num=1) }}">
                            <input type="hidden" name="per_page" value="{{ per_page }}">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="search_arg" name="search_arg"
                                    placeholder="{% if search_arg %}{{ search_arg }}{% else %}Search videos...{% endif %}">
                                <button type="submit" class="btn btn-primary d-flex align-items-center"><i
                                        class="fas fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
            <nav aria-label="Filter">
                <div class="d-flex justify-content-center align-items-center">
                    <!-- Filter -->
                    <div style="display: flex; align-items: center; justify-content: flex-end;">
                        <label for="filterSelect" style="margin-right: 8px; white-space: nowrap;" class="mb-3"><i
                                class="fas fa-filter"></i></label>
                        <select id="filterSelect" style="margin-right: 8px; white-space: nowrap;"
                            class="form-select mb-3"
                            onchange="window.location.href = '{{ url_for('showVideos', page_num=1, per_page=per_page, search_arg=search_arg) }}&filter_arg=' + this.value;">
                            {% set filter_arg_options = ["", "views", "likes", "comments"] %}
                            {% for opt in filter_arg_options %}
                            <option value="{{ opt }}" {% if opt==filter_arg %}selected{% endif %}>
                                {{ opt }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <div style="display: flex; align-items: center; justify-content: flex-end;">
                        <!-- Min Max -->
                        {% if filter_arg %}
                        <form method="GET" action="{{ url_for('showVideos', page_num=1) }}">
                            <input type="hidden" name="per_page" value="{{ per_page }}">
                            <input type="hidden" name="search_arg" value="{{ search_arg }}">
                            <input type="hidden" name="filter_arg" value="{{ filter_arg }}">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="filter_min_arg" name="filter_min_arg"
                                    placeholder="{% if filter_min_arg %}{{ filter_min_arg }}{% else %}min{% endif %}">
                                <input type="text" class="form-control" id="filter_max_arg" name="filter_max_arg"
                                    placeholder="{% if filter_max_arg %}{{ filter_max_arg }}{% else %}max{% endif %}">
                                <button type="submit" class="btn btn-secondary d-flexalign-items-center"><i
                                        class="fas fa-sliders-h"></i></button>
                            </div>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </nav>
            <nav aria-label="Sort">
                <div class="d-flex justify-content-center align-items-center">
                    <!-- Sort -->
                    <div style="display: flex; align-items: center; justify-content: flex-end;">
                        <label for="sortSelect" style="margin-right: 8px; white-space: nowrap;" class="mb-3"><i
                                class="fas fa-sort"></i></label>
                        <select id="sortSelect" class="form-select mb-3"
                            onchange="window.location.href = '{{ url_for('showVideos', page_num=1, per_page=per_page, search_arg=search_arg, filter_arg=filter_arg, filter_min_arg=filter_min_arg, filter_max_arg=filter_max_arg) }}&sort_arg=' + this.value;">
                            {% set sort_arg_options = ["", "title", "views", "likes", "comments", "upload date"] %}
                            {% for opt in sort_arg_options %}
                            <option value="{{ opt }}" {% if opt==sort_arg %}selected{% endif %}>
                                {{ opt }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- Order -->
                    {% if sort_arg %}
                    <div class="btn-group mb-3 ml-2" style="padding-left: 2%;" role="group" aria-label="Sort Order">
                        <a href="{{ url_for('showVideos', page_num=1, per_page=per_page, search_arg=search_arg, filter_arg=filter_arg, filter_min_arg=filter_min_arg, filter_max_arg=filter_max_arg, sort_arg=sort_arg) }}&sort_ord=desc"
                            class="btn btn-outline-secondary btn-sm {% if sort_ord == 'desc' %}active{% endif %}">
                            <i class="fas fa-arrow-down"></i>
                        </a>
                        <a href="{{ url_for('showVideos', page_num=1, per_page=per_page, search_arg=search_arg, filter_arg=filter_arg, filter_min_arg=filter_min_arg, filter_max_arg=filter_max_arg, sort_arg=sort_arg) }}&sort_ord=asc"
                            class="btn btn-outline-secondary btn-sm {% if sort_ord == 'asc' %}active{% endif %}">
                            <i class="fas fa-arrow-up"></i>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </nav>
            <nav aria-label="Page navigation">
                <div class="d-flex justify-content-center align-items-center">
                    <ul class="pagination mb-0 me-3">
                        {% if videos.has_prev %}
                        <li class="page-item">
                            <a class="page-link"
                                href="{{ url_for('showVideos', page_num=current_page - 1, search_arg=search_arg, filter_arg=filter_arg, filter_min_arg=filter_min_arg, filter_max_arg=filter_max_arg, sort_arg=sort_arg, sort_ord=sort_ord, per_page=per_page) }}">Previous</a>
                        </li>
                        {% endif %}
                        {% for page in videos.iter_pages(right_current=2) %}
                        {% if page %}
                        {% if page == current_page %}
                        <li class="page-item active bg-darker">
                            <a class="page-link active bg-darker"
                                href="{{ url_for('showVideos', page_num=page, search_arg=search_arg, filter_arg=filter_arg, filter_min_arg=filter_min_arg, filter_max_arg=filter_max_arg, sort_arg=sort_arg, sort_ord=sort_ord, per_page=per_page) }}">{{
                                page }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link"
                                href="{{ url_for('showVideos', page_num=page, search_arg=search_arg, filter_arg=filter_arg, filter_min_arg=filter_min_arg, filter_max_arg=filter_max_arg, sort_arg=sort_arg, sort_ord=sort_ord, per_page=per_page) }}">{{
                                page }}</a>
                        </li>
                        {% endif %}
                        {% else %}
                        <li class="page-item">
                            <a class="page-link"> ... </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% if videos.has_next %}
                        <li class="page-item">
                            <a class="page-link"
                                href="{{ url_for('showVideos', page_num=current_page + 1, search_arg=search_arg, filter_arg=filter_arg, filter_min_arg=filter_min_arg, filter_max_arg=filter_max_arg, sort_arg=sort_arg, sort_ord=sort_ord, per_page=per_page) }}">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                    <!-- per page change -->
                    <div style="display: flex; align-items: center; justify-content: flex-end;">
                        <label for="sortSelect" style="margin-right: 7px; margin-left: 10px; white-space: nowrap;"><i
                                class="fas fa-film fa-lg"></i></label>
                        <select id="sortSelect" class="form-select"
                            onchange="window.location.href = '{{ url_for('showVideos', page_num=1, search_arg=search_arg, filter_arg=filter_arg, filter_min_arg=filter_min_arg, filter_max_arg=filter_max_arg, sort_arg=sort_arg, sort_ord=sort_ord) }}&per_page=' + this.value;">
                            {% set per_page_options = [6, 12, 24, 48] %}
                            {% for opt in per_page_options %}
                            <option value="{{ opt }}" {% if opt==per_page %}selected{% endif %}>
                                {{ opt }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </nav>
            {% if videos.items %}
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-3">
                {% for video in videos.items %}
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="{{url_for('oneVideo', videoId=video.video_id)}}">
                            <img class="bd-placeholder-img card-img-top" src="{{ video.thumbnail }}"
                                alt="Video Thumbnail" style="height:auto; width: 100%; object-fit: cover;">
                        </a>
                        <a href="{{url_for('oneVideo', videoId=video.video_id)}}">
                            <h5 style="padding-top: 10px;padding-left: 10px;"> {{video.title}}</h5>
                        </a>
                        <div class="d-flex justify-content-between align-items-center"
                            style="color: gray; padding:10px">
                            <h6>
                                <a href="{{url_for('showChannel', channelId=video.channel_id)}}" style="color: gray;">
                                    <img src="{{ video.channels.thumbnail }}" alt="Channel Thumbnail"
                                        class="rounded-circle img-fluid" style="width: 30px;">
                                    {{video.channels.channelName}}
                                </a>
                            </h6>
                            <h6>
                                <i class="far fa-eye"></i>
                                <span>
                                    {% if video.viewCount >= 1000000000 %}
                                    {{ video.viewCount // 1000000000 }}B
                                    {% elif video.viewCount >= 1000000 %}
                                    {{ video.viewCount // 1000000 }}M
                                    {% elif video.viewCount >= 1000 %}
                                    {{ video.viewCount // 1000 }}K
                                    {% else %}
                                    {{ video.viewCount }}
                                    {% endif %}
                                </span>
                            </h6>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <br>
            <h3 class="text-center fw-light pt-5">We went from hello world to dealing with {{search_arg}}.</h3>
            <div class="col d-flex justify-content-center align-items-center pt-5">
                <img src="../static/images/missing.png" alt="No Results" style="height: 125px; width: 125px;">
            </div>
            <p class="text-center pt-5">No videos found. Try searching for something else... </p>
            {% endif %}
            <br>
            <nav aria-label="Page navigation">
                <!-- Pagination -->
                <ul class="pagination mb-0 me-3 justify-content-center">
                    {% if videos.has_prev %}
                    <li class="page-item">
                        <a class="page-link"
                            href="{{ url_for('showVideos', page_num=current_page - 1, per_page=per_page) }}">Previous</a>
                    </li>
                    {% endif %}
                    {% for page in videos.iter_pages(right_current=2) %}
                    {% if page %}
                    {% if page == current_page %}
                    <li class="page-item active bg-darker">
                        <a class="page-link active bg-darker"
                            href="{{ url_for('showVideos', page_num=page, per_page=per_page) }}">{{ page }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('showVideos', page_num=page, per_page=per_page) }}">{{
                            page }}</a>
                    </li>
                    {% endif %}
                    {% else %}
                    <li class="page-item">
                        <a class="page-link"> ... </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if videos.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                            href="{{ url_for('showVideos', page_num=current_page + 1, per_page=per_page) }}">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </main>
    <!-- footer section -->
    <footer class="text-body-secondary py-5">
        <div class="container text-center">
            <p class="mb-1">
                <a href="#" style=" text-decoration: none;">
                    <i class="fas fa-arrow-up"></i> </a>
            </p>
        </div>
    </footer>
</body>

</html>